<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Transcription</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="container">
        <button type="button" id="summaryToggle" class="collapsible">AI</button>
        <div id="summaryContent" class="content">
            <h1>Result</h1>
            {% if message %}
            <p>{{ message }}</p>
            {% endif %}

            <h1>Prompt</h1>
            <form method="post">
                <textarea style="width: 100%" rows="100" name="prompt">
                    {% if prompt %}
                        {{ prompt }}
                    {% endif %}
                </textarea>
                <button type="submit" style="padding: 10px 15px; position: fixed; top: 10px; right: 10px">Submit</button>
            </form>

        </div>
    </div>
</body>
</html>
